<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Works</title>
  </head>
  <body>
    BoredBoard |
    <a href="/dashboard">Home</a> |
    <a href="{% url "showmember" id=member.id %}">{{ member.firstname }}</a> |
    <a href="{% url "showmembers" %}">Members</a> |
    <a href="{% url "library" %}">Library</a> |
    <a href="{% url "quotelist" %}">Quotes</a> |
    <a href="{% url "chatindex" %}">Chat</a> |
    <a href="/logout">Logout</a>

    <h1>All Works</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Year Published</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for work in works %}
        <tr>
          <td> {{ work.id }}</td>
          <td><a href="{% url "show_work" workid=work.id %}">{{ work.title }}</a></td>
          <td>{{ work.author.firstname }} {{ work.author.lastname }}</td>
          <td>{{ work.year }}</td>
          <td>
            <a href="{% url "show_work" workid=work.id %}">Read More</a> |
            <a href="{% url "worksedit" workid=work.id %}">Edit</a> |
            <a href="{% url "worksdelete" workid=work.id %}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <a href="{% url "new_work" %}">Add Another Work</a>
    <br>
    <a href="{% url "allauthors" %}">View All Authors</a>

  </body>
</html>
